// ======================================================
//
// エディターのスタイル
//
// ======================================================

@use "./import" as i;

.wp-block-spacer{
	position: relative;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
	background-size: 7px 7px;
	border: 1px solid #ddd;
	&::after{
		content: "スペーサーブロック" !important;
		position: absolute !important;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin: auto;
		color: #aaa;
		font-size: 0.86em;
		font-weight: bold;
	}
}
